
<%- layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-7 offset-2">
    <h3>Edit your Listing</h3>
    <form method="post" action="/listings/<%= listing._id%>?_method=put"
        enctype="multipart/form-data">
        <div class="mb-2">
        <label for="title" class="form-label">Title:</label>
        <input name="listing[title]" value="<%= listing.title%>"type="text" placeholder="enter title"
         class="form-control"/>
         <div class="valid-feedback" >Title looks Good!</div>
        </div>
        <div class="mb-2">
        <label for="description" class="form-label">Description:</label>
        <textarea name="listing[description]"  class="form-control"><%= listing.description%></textarea>
        <div class="invalid-feedback" >Please enter a short description</div>
        </div>
        <div class="mb-2">
            Original listing image<br>
           <img src="<%= originalimgurl %>">
        </div>
        <div class="mb-2">
        <label for="image" class="form-label">Upload Image:</label>
        <input  name="listing[image]" 
        type="file" placeholder="enter image url"  
        class="form-control"
        />
        </div>
        <div class="row">
        <div class="mb-2 col-md-4">
        <label for="price" class="form-label">Price:</label>
        <input name="listing[price]" value="<%= listing.price%>"type="text" placeholder="enter price"  class="form-control"/>
        </div>
        <div class="mb-2 col-md-8">
        <label for="country" class="form-label">Country:</label>
        <input  name="listing[country]" value="<%= listing.country%>"type="text" placeholder="enter country"  class="form-control"/>
        </div>
        </div>
        <div class="mb-2">
            <label for="location" class="form-label">Location:</label>
        <input name="listing[location]" value="<%= listing.location%>"type="text" placeholder="enter location"  class="form-control"/>
        </div>
        
        <button class="btn btn-dark edit-btn mt-2 mb-2">Add</button>
      </form>
</div>
</div>
